@page "/gastosmiscelaneos"

@if (!ShowForm)
{
    <h3>Gastos Miscelaneos (@Usuarios.Count)</h3>
    <div class="mb-2">
        <button class="btn btn-success"
            @onclick="()=>{ShowForm = !ShowForm;}">
            Agregar
        </button>
    </div>
}
@if (ShowForm)
{
    <h3>@TituloForm</h3>
    <EditForm Model="request" OnValidSubmit="Send">
        <div class="form-group">
            <div class="row g3">
                <div class="py-md-1 col-md-3 col-lg-3">
                    <label>Nombre</label>
                    <InputText class="form-control" @bind-Value="request.Nombre" id="cbkActivo"></InputText>
                </div>

                <div class="py-md-1 col-md-2 col-lg-2 col-xxl-2 col-xl-2">
                    <label>Cantidad</label>
                    <InputNumber class="form-control" @bind-Value="request.Cantidad"></InputNumber>
                </div>

                <div class="py-md-1 col-md-2 col-lg-2">
                    <label>Precio</label>
                    <InputNumber class="form-control" @bind-Value="@request.MontoTotal"></InputNumber>
                </div>
                <div class="py-md-1 col-md-3 col-lg-3">
                    <label>Fecha</label>
                    <InputDate class="form-control" @bind-Value="request.Fecha"></InputDate>
                </div>

                <div class="py-md-1 col-md-max col-lg-max">
                    <label>Descripción</label>
                    <InputTextArea class="form-control" @bind-Value="request.Descripcion"></InputTextArea>
                </div>

            </div>
        </div>
        <div class="btn-group pt-1">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
            <button @onclick="Cancelar" class="btn btn-outline-danger">Cancelar</button>
        </div>
    </EditForm>
    <br/>
}
@if(Usuarios != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Monto Total</th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Usuarios){
            <tr>
                <td>@usuario.GastosMiscelaneoId</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Fecha.ToString("MMMM/dd/yyyy")</td>
                <td>@usuario.Cantidad</td>
                <td>@usuario.MontoTotal</td>
                <td>@usuario.Descripcion</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-warning" @onclick="()=>Seleccionar(usuario.GastosMiscelaneoId)">

                            <span class="oi oi-pencil"></span>
                        </button>
                        <button class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando..</p>
}

@code
{
    public string TituloForm => request.GastosMiscelaneoId == 0 ? 
    "Agregar gastos de la Mercancia" : "Modificar gastos de la Mercancia";
    public bool ShowForm { get; set; } = false;
    public string Filtro { get; set; } = "";
    public List<GastosMiscelaneoResponse> Usuarios { get; set; }
        = new List<GastosMiscelaneoResponse>();

    public GastosMiscelaneoRequest request { get; set; } = new GastosMiscelaneoRequest();

    protected override async Task OnInitializedAsync()
    {
        await CargarContactos();
    }

    async Task CargarContactos()
    {
        var response = await gastosMiscelaneoServices.Consultar(Filtro);
        if (response.Succeeded)
        {
            Usuarios = response.Data!;
        }
    }

    void Cancelar()
    {
        request  = new GastosMiscelaneoRequest();
        ShowForm = false;
    }

    public async Task Send()
    {
        if(request.GastosMiscelaneoId == 0)
        {
            //Debo registrar el contacto..
            var r = await gastosMiscelaneoServices.Crear(request);
            if (r.Succeeded)
            {
                Cancelar();
                await CargarContactos();
                StateHasChanged();
            }
        }
        else
        {
            //Debo solicitar modificar el contacto...
            var r = await gastosMiscelaneoServices.Modificar(request);
            if (r.Succeeded)
            {
                Cancelar();
                await CargarContactos();
                StateHasChanged();
            }
        }
    }
    	
    public void Seleccionar(int Id)
    {
        ShowForm = true;
        request = Usuarios
        .Where(c => c.GastosMiscelaneoId == Id)
        .Select(c => c.ToRequest())
        .FirstOrDefault()??new GastosMiscelaneoRequest();
    }
    
    


    public void Agregar()
    {
        urlHelper.NavigateTo("/proveedores/crear",false);
    }
    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/proveedores/editar/{Id}",false);
    }
}

