@page "/gastosmercancias"

@if (!ShowForm)
{
    <h3>Gastos Mercancia (@Usuarios.Count)</h3>
    <div class="mb-2">
        <button class="btn btn-success"
            @onclick="()=>{ShowForm = !ShowForm;}">
            Agregar
        </button>
    </div>
}
@if (ShowForm)
{
    <h3>@TituloForm</h3>
    <EditForm Model="request" OnValidSubmit="Send">
        <div class="form-group">
            <div class="row g3">
                <div class="py-md-1 col-md-3 col-lg-3">
                    <label>Mercancia</label>
                    <InputSelect class="py-md-1 form-select" @bind-Value="request.MercanciaId" id="cbkActivo">
                        <option disabled>Selecciona una ciudad</option>
                        @foreach (var ciudad in Mercancias)
                        {
                            <option value="@ciudad.MercanciaId">
                                @ciudad.MercanciaNombre
                                </option>
                        }
                    </InputSelect>
                </div>

                <div class="py-md-1 col-md-2 col-lg-2 col-xxl-2 col-xl-2">
                    <label>Cantidad</label>
                    <InputNumber class="form-control" @bind-Value="request.Cantidad" @oninput="CalcularMontoTotal" @onkeyup="CalcularMontoTotal" @oncuechange="CalcularMontoTotal" OnValueChanged="CalcularMontoTotal"></InputNumber>
                </div>

                <div class="py-md-1 col-md-2 col-lg-2">
                    <label>MontoTotal</label>
                    <InputNumber class="form-control" @bind-Value="@request.MontoTotal"  readonly></InputNumber>
                </div>
                <div class="py-md-1 col-md-3 col-lg-3">
                    <label>Fecha</label>
                    <InputDate class="form-control" @bind-Value="request.Fecha"></InputDate>
                </div>

                <div class="py-md-1 col-md-max col-lg-max">
                    <label>Descripción</label>
                    <InputTextArea class="form-control" @bind-Value="request.Descripcion"></InputTextArea>
                </div>

            </div>
        </div>
        <div class="btn-group pt-1">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
            <button @onclick="Cancelar" class="btn btn-outline-danger">Cancelar</button>
        </div>
    </EditForm>
    <br/>
}
@if(Usuarios != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Mercancia</th>
                <th>Cantidad</th>
                <th>Monto Total</th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Usuarios){
            <tr>
                <td>@usuario.GastosMercanciaId</td>
                <td>@usuario.Fecha.ToString("MMMM/dd/yyyy")</td>
                <td>@usuario.Mercancia.MercanciaNombre</td>
                <td>@usuario.Cantidad</td>
                <td>@usuario.MontoTotal</td>
                <td>@usuario.Descripcion</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-warning" @onclick="()=>Seleccionar(usuario.GastosMercanciaId)">

                            <span class="oi oi-pencil"></span>
                        </button>
                        <button class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Cargando..</p>
}

@code
{
    public string TituloForm => request.GastosMercanciaId == 0 ? 
    "Agregar gastos de la Mercancia" : "Modificar gastos de la Mercancia";
    public bool ShowForm { get; set; } = false;
    public string Filtro { get; set; } = "";
    public List<GastosMercanciaResponse> Usuarios { get; set; }
        = new List<GastosMercanciaResponse>();

    public List<ProveedorResponse> Proveedores { get; set; } = new List<ProveedorResponse>();
    
    public List<MercanciaResponse> Mercancias { get; set; } = new List<MercanciaResponse>();

    public GastosMercanciaRequestUpdate request { get; set; } = new GastosMercanciaRequestUpdate();

    protected override async Task OnInitializedAsync()
    {
        await CargarContactos();
        await CargarProveedores();
        await CargarMercancias();
    }

    async Task CargarContactos()
    {
        var response = await gastosMercanciaServices.Consultar(Filtro);
        if (response.Succeeded)
        {
            Usuarios = response.Data!;
        }
    }

    async Task CargarProveedores()
    {
        var resultado = await proveedorServices.Consultar(Filtro);
        if (resultado.Succeeded)
        {
            Proveedores = resultado.Data!;
        }
    }

    async Task CargarMercancias()
    {
        var resultado = await mercanciaServices.Consultar(Filtro);
        if (resultado.Succeeded)
        {
            Mercancias = resultado.Data!;
        }
    }

    void Cancelar()
    {
        request  = new GastosMercanciaRequestUpdate();
        ShowForm = false;
    }

    public async Task Send()
    {
        if(request.GastosMercanciaId == 0)
        {
            //Debo registrar el contacto..
            var r = await gastosMercanciaServices.Crear(request);
            if (r.Succeeded)
            {
                Cancelar();
                await CargarContactos();
                StateHasChanged();
            }
        }
        else
        {
            //Debo solicitar modificar el contacto...
            var r = await gastosMercanciaServices.Modificar(request);
            if (r.Succeeded)
            {
                Cancelar();
                await CargarContactos();
                StateHasChanged();
            }
        }
    }
    	
    public void Seleccionar(int Id)
    {
        ShowForm = true;
        request = Usuarios
        .Where(c => c.GastosMercanciaId == Id)
        .Select(c => c.ToRequest())
        .FirstOrDefault()??new GastosMercanciaRequestUpdate();
    }
    
    public void CalcularMontoTotal()
    {
        var mercanciaSeleccionada = Mercancias.FirstOrDefault(m => m.MercanciaId == request.MercanciaId);
        if (mercanciaSeleccionada != null)
        {
            decimal.TryParse(request.Cantidad.ToString(), out decimal cantidad);
            request.MontoTotal = cantidad * mercanciaSeleccionada.Precio;
        }
        else
        {
            request.MontoTotal = 0;
        }
    }
    


    public void Agregar()
    {
        urlHelper.NavigateTo("/proveedores/crear",false);
    }
    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/proveedores/editar/{Id}",false);
    }
}

